.*
*~
*.[oa]
*.la
*.lo
*.k*
*.out
Makefile
Makefile.in
config*
!configure.ac
depcomp
autom4*
install
missing
*stamp*
*.pot
*.gmo
*.mo
po/*.sed
po/Makefile*
po/*.temp*
po/en*.header
po/*.sin
po/Rules-quot
aclocal.m4
install-sh
